/* <?php
    header("Content-type: text/css; charset: UTF-8");
    $brandColor = "#990000";
    $linkColor = "#555555";
?> */

/*
	Colors for Theme001
	Author: Yoast.com
	Author URI: http://yoast.com/
	Version: 0.0.0.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/*
	Yoast default Colors
	Orange			#ec9e61			Color Bar 1 Top / Lines Content
	Red				#e25918			Nav active / Color Bar 2 / H1
	Dark red		#c34200			Color Bar 3
	Blue			#028aaf			T1 / T3 / H3
	Light blue		#b3d736			Nav
	Light Grey		#eeeeee			Grey Background
	Grey			#b2b8b8			Grey Border Fields and Images
	Dark Grey		#666666			T4 / H4
	Black			#000000			Text
	Green			#6bbd1e			CTA
	OtherGrey		#e2e2e2			Footer
*/


/* YAIKS UPPERCASE */
* {
	text-transform: none !important;
}

/*  GENERAL
--------------------------------------------*/
body {
	background-color: #FFF;
}
.clearfloat {
	clear: both;
	padding: 0;
	margin: 0;
	line-height: 0;
	font-size: 0em;
}

/*  NAVIGATION
--------------------------------------------*/

.nav-primary {
	background-color:  #b3d7e6;
	border-bottom: 5px solid #e25918;
}

.genesis-nav-menu .menu-item {
	margin-left: -3px; /* kill inline-block margin */
}
.nav-primary a {
	color: #000000;
	padding: 10px 20px;
	margin: 0;
	border: 1px solid #FFF;
	border-width: 0 2px 0 0;
	font-weight: 600;
	text-decoration: none;
	
}
.nav-primary a.last {
	border-right: 0;
}

.nav-primary a:hover, .nav-primary .current-menu-item a {
	color: #ffffff;
	background-color: #e25918;
}

.genesis-nav-menu > .menu-item > a:after /* set up the top level arrows first */, 
.genesis-nav-menu .sub-menu > .menu-item > a:after /* set up the downward arrow for top level items */
 {
	content: '▼'; 
	font-size: .5em;
	vertical-align: middle;
	padding-left: 5px;
}
/* clear the content if a is only child */
.genesis-nav-menu > .menu-item > a:only-child:after, 
.genesis-nav-menu .sub-menu > .menu-item > a:only-child:after {
	content: ''; 
}

/*  TEXT
--------------------------------------------*/
.entry-title a {
	color: #e25918;
	text-decoration: none;
}

aside.sidebar-primary .widget-title {
	background-color: #eeeeee;
	color: #028aaf;
	padding: 10px;
	-moz-box-shadow:  1px 2px 5px #cccccc;
	-webkit-box-shadow:  1px 2px 5px #cccccc;
	box-shadow:  1px 2px 5px #cccccc;
}

/*  After Header Widgets
--------------------------------------------*/
#yoast-after-header-container {
	background-color: #eeeeee;
	border-top: 5px solid #c34200;
}

#yoast-after-header-container > .wrap {
	padding-bottom: 2.4rem;
}

#yoast-after-header-container .widget-title {
	margin: 2.4rem 0 0;
}

#yoast-after-header-container, #yoast-after-header-container a {
	color: #028aaf;
}

#yoast-after-header-container .widget-title {
	color: #e25918;
	padding: 0 0 1em;
}

#yoast-after-header-container a {text-decoration: underline;}
#yoast-after-header-container a:hover {text-decoration: none;}

#yoast-after-header-container li {
	list-style-image: url(images/li-check.png);
	margin-left: 24px;
}


.yoast-after-header-widget {
	float: left;
	width: 350px;
}

#yoast-after-header-1, #yoast-after-header-2 {
	margin-right: 40px;
	vertical-align: middle;
}

#yoast-after-header-3 {
	width: 360px;
	/* vertical-align: middle; */
	/* padding: 0 3rem; */
	/* display: block; */
	background-image: url('/wp3/wp-content/uploads/2011/11/agency-sample.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#yoast-after-header-3 .widget-wrap {
	padding: 0 3rem;
}

/*  Sidebar Widgets
--------------------------------------------*/
aside.sidebar-primary .button-green {
	display: block;
	padding: 10px 20px;
	color: #FFF;
	text-shadow: 1px 1px 2px #666666;
	border: 1px solid #6bbd1e;
	-moz-box-shadow: inset 0px 0 5px #ffffff;
	-webkit-box-shadow: inset 0px 0 5px #ffffff;
	box-shadow: inset 0px 0 5px #ffffff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#74c12c), to(#94cf5d)); /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #94cf5d, #74c12c);   /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #94cf5d, #74c12c);   /* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #94cf5d, #74c12c);   /* IE 10 */
	background: -o-linear-gradient(top, #94cf5d, #74c12c);   /* Opera 11.10+ */
}

.sidebar .widget-wrap li a {
	border-bottom: 0;
}

.sidebar .widget-wrap p, .sidebar .widget-wrap ul {
	padding: 0 1em;
}

.sidebar .widget-wrap li a:hover {
	text-decoration: underline;
}

.sidebar .widget-wrap li a:after {
	content: '»'; 
	vertical-align: middle;
	padding-left: 5px;
	color: #028aaf;
}

/*  Tagline Widgets
--------------------------------------------*/

#yoast-tagline-after-header-container {
	border-top: 1px solid #ec9e61;
	-moz-box-shadow:  1px 2px 5px #cccccc;
	-webkit-box-shadow:  1px 2px 5px #cccccc;
	box-shadow:  1px 2px 5px #cccccc;
}

.yoast-tagline-after-header-widget {
	padding: 20px 0px 20px 0px;
	text-align: center;
	font-size: 1.5em;
	color: #000000;
}
.yoast-tagline-after-header-widget strong {
	color: #028aaf;
	font-weight: 400;
}

/*  Logo, hide text
--------------------------------------------*/

.header-image .site-header .wrap {
	background: url(images/logo.png) no-repeat left;
	padding: 0;
}

.header-image .site-title a {
	float: left;
	min-height: 164px;
	width: 100%;
}


/*  Content
--------------------------------------------*/
.post {
	border-bottom: 1px solid #ec9e61;
}

.entry-footer {
	display: none;
}

.entry-header > .entry-title {
	text-align: left;
	font-weight: 300;
}

.exerptreadmore {
	text-align: right;
	text-decoration: none;
}

.exerptreadmore a {
	text-align: right;
	color: #028aaf;
	text-decoration: none;
	border-bottom: none;
}

.exerptreadmore a:hover {
	font-weight: bold;
	color: #028aaf;
}

.exerptreadmore a:after {
	content: '»'; 
	vertical-align: top;
	padding-left: 5px;
}


/** Menu **/
#mobile-menu {
	display: none;
	visibility: hidden;
}

@media only screen and (max-width: 400px) {
	#mobile-menu { background: url("images/icon-mobile.png") no-repeat scroll 0 0 transparent; cursor: pointer; display: inline-block; float: right; height: 30px; margin: 12px; width: 41px; visibility: visible; }
	#nav_menu-2 { display: none; }
}


/* Make sure main menu re-appears when scaled up */
@media only screen and (min-width: 401px) {
	#nav_menu-2 {
		display: block !important;
	}
}
