@charset "UTF-8";
@import "partials/colorsMediterranean";

/**
  * All settings that are just for IE8/9
  * Please update your browser if you can read this, or try chrome
  * @link https://www.google.com/chrome/
  */

body {
  behavior: url("../../lib/js/csshover3.htc");
}

// change :after as IE8/9 do not read Unicode well
.genesis-nav-menu {
  a:after { // set unicode font for all » characters
    font: {
      family: "Lucinda Sans Unicode", sans-serif;
    }
  }
  .sub-menu {
    > .menu-item {
      > a:after // set up the downward arrow for top level items
        {
          content: ' >';
      }
    }
  }
}

.widget_bigbutton {
  .cta-button {
    a {
      &:after {
        content: ' >';
        font: {
          family: "Lucinda Sans Unicode", sans-serif;
        }
      }
    }
  }
}
.back-to-top {
    a:after {
        content: '';
    }
}


