/**
 * Main wrappers.
 */
#yoast_wrapper {
	float: left;
	max-width: 800px;
	margin: 0 25px 0 0;
}

/**
 * Tab navigation
 */
.nav-tab-wrapper {
	margin-bottom: 0;
}

.yoast_tab {
	display: none;
}

.yoast_tab.active {
	display: block;
	width: 800px;
	padding: 0.5em 0.9em;
	border: 1px solid #ddd;
	border-radius: 0 3px 3px 3px;
	background-color: #fff;
}

.yoast_tab .number {
	width: 75px;
}

.yoast_tab .text, .yoast_tab .select {
	width: 300px;
}

.yoast_tab li {
	margin-left: 20px;
	list-style-type: disc;
}

.yoast_tab .form-table th {
	width: 300px;
}

.yoast_tab .intro {
	font-size: 120%;
}

.tabwrapper .yoast_tab {
	padding: 0;
	border: none;
	background: none;
}

.tabwrapper .yoast_tab h3 {
	padding: 9px 15px 4px 0;
	font-size: 23px;
	font-weight: 400;
}
