// dimensions for Theme 001
$d_full:                    990px;
$d_homepageMainColumn:      620px;
$d_homepageMainMargin:      120px;
$d_headerLogo:              360px;
$d_headerAside:             630px;
$d_sidebar:                 310px;
$d_mainColumn:              620px;
$d_mainContent:             560px;
$d_columnOne:               290px;
$d_columnTwo:               290px;
$d_columnThree:							290px;
$d_ThreeEqualColumns:       290px;
$d_FourEqualColumns:        200px;
$d_navSubWidth:             200px;