@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lekton:400,700,400italic);
/**
 * FORM STYLES
 * As most plugin css files are loaded below the main stylesheet for a theme,
 * we decided to hook in another stylesheet right below that to make sure
 * both Gravity Forms and Contact Form 7 forms are styled the right way.
 **********************************/
/**
 *  Fonts used
 */
/**
 * Import defaults for this theme
 */
/**
 * Gravity Forms
 * @plugin(title: Gravity Forms)
 * @link http://www.gravityforms.com/
 */
/* line 35, ../sass/forms.scss */
.gform_wrapper .gf_progressbar_wrapper {
  border-bottom-width: 1px;
  border-bottom-style: solid !important;
  border-bottom-color: #e25918 !important;
}
/* line 44, ../sass/forms.scss */
.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
  color: black;
  opacity: 1 !important;
  font-size: 16px !important;
  font-size: 1rem !important;
}
/* line 55, ../sass/forms.scss */
.gform_wrapper ul.gfield_radio li {
  padding-left: 1px !important;
  padding-left: 0.1rem !important;
}
/* line 63, ../sass/forms.scss */
.gform_wrapper input[type="email"] {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
  padding: 0.8rem;
}
/* line 71, ../sass/forms.scss */
.gform_wrapper input[type="text"] {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
  padding: 0.8rem;
}
/* line 79, ../sass/forms.scss */
.gform_wrapper input[value="Other"] {
  max-width: 80%;
}
/* line 83, ../sass/forms.scss */
.gform_wrapper textarea {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
  padding: 0.8rem;
}
/* line 91, ../sass/forms.scss */
.gform_wrapper select {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 98, ../sass/forms.scss */
.gform_wrapper .ginput_complex label {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0;
}
/* line 106, ../sass/forms.scss */
.gform_wrapper li {
  margin: 8px 0 0;
  margin: 0.8rem 0 0;
}
/* line 111, ../sass/forms.scss */
.gform_wrapper form li {
  margin: 8px 0 0;
  margin: 0.8rem 0 0;
}
/* line 118, ../sass/forms.scss */
.gform_wrapper .gform_footer input [type="submit"] {
  font-size: 14px;
  font-size: 0.875rem;
}

/**
 * Contact Form 7
 * @plugin(title: Contact Form 7)
 * @link http://www.gravityforms.com/
 */
