@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lekton:400,700,400italic);
/**
 * FORM STYLES
 * As most plugin css files are loaded below the main stylesheet for a theme,
 * we decided to hook in another stylesheet right below that to make sure
 * both Gravity Forms and Contact Form 7 forms are styled the right way.
 **********************************/
/**
 *  Fonts used
 */
/**
 * Import defaults for this theme
 */
/**
 * Gravity Forms
 * @plugin(title: Gravity Forms)
 * @link http://www.gravityforms.com/
 */
/* line 35, ../sass/forms.scss */
.gform_wrapper .gf_progressbar_wrapper {
  border-bottom-width: 1px;
  border-bottom-style: solid !important;
  border-bottom-color: #e25918 !important;
}
/* line 44, ../sass/forms.scss */
.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
  color: black;
  opacity: 1 !important;
  font-size: 16px !important;
  font-size: 1rem !important;
}
/* line 55, ../sass/forms.scss */
.gform_wrapper ul.gfield_radio li {
  padding-left: 1px !important;
  padding-left: 0.1rem !important;
}
/* line 63, ../sass/forms.scss */
.gform_wrapper input[type="email"] {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
}
/* line 70, ../sass/forms.scss */
.gform_wrapper input[type="text"] {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
}
/* line 77, ../sass/forms.scss */
.gform_wrapper input[value="Other"] {
  max-width: 80%;
}
/* line 81, ../sass/forms.scss */
.gform_wrapper textarea {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
  padding: 0.8rem;
}
/* line 89, ../sass/forms.scss */
.gform_wrapper select {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 96, ../sass/forms.scss */
.gform_wrapper .ginput_complex label {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0;
}
/* line 104, ../sass/forms.scss */
.gform_wrapper li {
  margin: 8px 0 0;
  margin: 0.8rem 0 0;
}
/* line 109, ../sass/forms.scss */
.gform_wrapper form li {
  margin: 8px 0 0;
  margin: 0.8rem 0 0;
}
/* line 116, ../sass/forms.scss */
.gform_wrapper .gform_footer input [type="submit"] {
  font-size: 14px;
  font-size: 0.875rem;
}

/**
 * Contact Form 7
 * @plugin(title: Contact Form 7)
 * @link http://www.gravityforms.com/
 */
/* line 137, ../sass/forms.scss */
.wpcf7 .wpcf7-form .wpcf7-checkbox .wpcf7-list-item,
.wpcf7 .wpcf7-form .wpcf7-radio .wpcf7-list-item,
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item {
  display: block;
}
/* line 141, ../sass/forms.scss */
.wpcf7 .wpcf7-form .wpcf7-checkbox input[type="checkbox"],
.wpcf7 .wpcf7-form .wpcf7-checkbox input[type="radio"],
.wpcf7 .wpcf7-form .wpcf7-radio input[type="checkbox"],
.wpcf7 .wpcf7-form .wpcf7-radio input[type="radio"],
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="checkbox"],
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="radio"] {
  width: 2em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 146, ../sass/forms.scss */
.wpcf7 .wpcf7-form .wpcf7-checkbox input[type="number"],
.wpcf7 .wpcf7-form .wpcf7-checkbox input[type="date"],
.wpcf7 .wpcf7-form .wpcf7-radio input[type="number"],
.wpcf7 .wpcf7-form .wpcf7-radio input[type="date"],
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="number"],
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="date"] {
  width: 150px;
  max-width: 100%;
}
/* line 150, ../sass/forms.scss */
.wpcf7 .wpcf7-form .wpcf7-checkbox input[type="range"],
.wpcf7 .wpcf7-form .wpcf7-radio input[type="range"],
.wpcf7 .wpcf7-form .wpcf7-form-control-wrap input[type="range"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
