// Color declarations Versatile ColorSet1 BrightBlue

// H1 / H3 / Button Field / BG Top					#da5a91
// T3 / Lines Color / NAV Active						#41b9b3
// T2 / H2 Gray / BG Footer Dark						#4a5358
// CTA																			#6bbd1e
// Lines / Spacers Gray / Buttons content		#a4a7ab
// BG Content Top / BG Footer NAV Light			#faf0f0
// Text black																#000000
// BG																				#e6e6e6

// #yoast-after-header-container check in list
$c_sprite:          "Versatile_Sprite_PrettyPink.png";

// general
$c_bodyTopLineDark:     #41b9b3;
$c_bodyTopLineLight:    #da5a91;
$c_bodyLine:						#41b9b3;

$c_paragraph:           #000000;
$c_link:                #41b9b3;
$c_linkHover:           #6bbd1e;
$c_linkBorder:          #faf0f0;

$c_logoText:            #a4a7ab;
$c_logoTextLink:        #4a5358;
$c_logoTextLinkHover:   #4a5358;

$c_taglineTopLight:     #ffffff;
$c_taglineTopDark:      #da5a91;
$c_taglineTopBold:      #41b9b3;
$c_taglineFullWidth:    #e6e6e6;
$c_taglineFullWidthBold:#41b9b3;
$c_taglineBoxShadow:    #e6e6e6;
$c_taglineLink:         #41b9b3;
$c_taglineLinkHover:    #6bbd1e;
$c_taglineBg:						#da5a91;
$c_taglineBgAlt:				#faf0f0;
$c_taglineBorderMobile:	#a4a7ab;

$c_breadcrumbs:         #4a5358;
$c_breadcrumbsLink:     #41b9b3;
$c_breadcrumbsLinkHover:#6bbd1e;

$c_pagenavBg:           #a4a7ab;
$c_pagenavLink:         #ffffff;
$c_pagenavHoverBg:      #6bbd1e;
$c_pagenavHoverLink:    #ffffff;
$c_pagenavActiveBg:     #41b9b3;
$c_pagenavActiveLink:   #ffffff;

$c_metaAtPost:          #4a5358;
$c_metaAtPostBorder:    #faf0f0;
$c_commentHTMLtags:     #e6e6e6;

$c_hrLine:              #e6e6e6;
$c_borderImg:           #e6e6e6;
$c_randLine:            #a4a7ab; // random grey line

$c_selectionText:       #ffffff;
$c_selectionBg:         #41b9b3;

$c_fieldsetBorder:      #4a5358;

// header
$c_headerBgDark:        #da5a91;
$c_headerBgLight:       #ffffff;
$c_headerText:          #000000;
$c_headerLink:          #41b9b3;
$c_headerLinkHover:     #41b9b3;
$c_headerH3:            #4a5358;
$c_headerH4:            #4a5358;

// after header widgets
$c_afterHeaderBg:					#faf0f0;
$c_afterHeaderLink:				#41b9b3;
$c_afterHeaderLinkHover:	#6bbd1e;
$c_afterHeaderH3:					#4a5358;
$c_afterHeaderH4:					#4a5358;
$c_afterHeaderText:				#da5a91;
$c_afterHeaderBorder:			#41b9b3;

// navigation
$c_navMainFullBg:           #4a5358;
$c_navMainFullBorderTop:    #41b9b3;
$c_navMainFullBorderBottom: #41b9b3;

$c_navMainBg:           #4a5358;
$c_navMainText:         #ffffff;
$c_navMainLink:         #ffffff;
$c_navMainLinkHover:    #ffffff;
$c_navMainLinkBg:       #4a5358;
$c_navMainLinkBgHover:  #41b9b3;
$c_navMainBgActive:     #41b9b3;
$c_navMainTextActive:   #ffffff;
$c_navMainLinkShadow:   #4a5358;
$c_navMainBorder:       #ffffff;
$c_navMainBorderBottom: #41b9b3;
$c_navMainShadow:       #a4a7ab;

$c_navSubBg:           #4a5358;
$c_navSubText:         #ffffff;
$c_navSubLink:         #ffffff;
$c_navSubLinkHover:    #ffffff;
$c_navSubLinkBg:       #4a5358;
$c_navSubLinkBgHover:  #41b9b3;
$c_navSubLinkActive:   #ffffff;
$c_navSubLinkActiveBg: #4a5358;
$c_navSubBorder:       #e6e6e6;
$c_navSubBorderBottom: #41b9b3;

// mobile menu Sidr
$sidr-background:               #4a5358;
$sidr-background-shadow-color:  #4a5358;
$sidr-text-color:               #ffffff;
$c_sidr_linkBg:                 #e6e6e6;
$c_sidr_linkBorder:             #a4a7ab;
$c_sidr_linkHoverBg:            #41b9b3;
$c_sidr_linkActiveBg:           #41b9b3;
$c_sidr_linkHoverText:          #ffffff;
$c_sidr_headingText:            #e6e6e6;
$c_sidr_headingBorder:          #a4a7ab;
$c_sidr_boxShadow:              #4a5358;
$c_sidr_searchBg:								#41b9b3;

// main content
$c_mainBg:              #e6e6e6;
$c_mainContentBg:				#ffffff;
$c_mainText:            #000000;
$c_mainLink:            #41b9b3;
$c_mainLinkHover:       #6bbd1e;
$c_mainH1:              #da5a91;
$c_mainH1Hover:         #6bbd1e;
$c_mainH2:              #4a5358;
$c_mainH2Hover:         #6bbd1e;
$c_mainH3:              #4a5358;
$c_mainH3Hover:         #6bbd1e;
$c_mainH4:              #000000;
$c_mainH4Hover:         #6bbd1e;
$c_mainH5:              #000000;
$c_mainH5Hover:         #6bbd1e;
$c_mainH6:              #000000;
$c_mainH6Hover:         #6bbd1e;

$c_taxonomyIntroText:   #4a5358;
$c_taxonomyIntroH1:     #e6e6e6;

// blockquote
$c_BlockquoteText:      #4a5358;
$c_BlockquoteLink:      #41b9b3;
$c_BlockquoteLinkHover: #41b9b3;
$c_BlockquoteBorder:    #faf0f0;
$c_BlockquoteBg:        #faf0f0;
$c_blockquoteBefore:    #a4a7ab;

// input
$c_inputText:           #000000;
$c_inputTextFocus:      #000000;
$c_inputBg:             #ffffff;
$c_inputBgFocus:        #ffffff;
$c_inputBorder:         #e6e6e6;
$c_inputBoxShadow:      #faf0f0;
$c_inputBorderFocus:    #a4a7ab;
$c_inputTextPlaceholder:#a4a7ab;

$c_inputSubmitText:     #ffffff;
$c_inputSubmitTextHover:#ffffff;
$c_inputSubmitBg:       #a4a7ab;
$c_inputSubmitBgHover:  #a4a7ab;
$c_inputSubmitBorder:   #a4a7ab;
$c_inputSubmitTextShadow: #4a5358;
$c_inputSubmitBoxShadow:  #ffffff;

// comments
$c_commentBg:           #ffffff;
$c_commentText:         #000000;
$c_commentLink:         #41b9b3;
$c_commentBorder:       #41b9b3;
$c_commentReplyBorder:  #faf0f0;
$c_commentByAuthorBg:   #faf0f0;
$c_commentAuthor: 			#da5a91;
$c_entryCommentsH3:			#da5a91;
$c_postAuthorBorder: 		#41b9b3;
$c_commentReplyTitle: 	#da5a91;
$c_commentFormTitle: 		#4a5358;
$c_allowedTags: 				#4a5358;
$c_allowedTagsBg:				#e6e6e6;

// author block
$c_articleAuthorBg:     #faf0f0;
$c_articleAuthorH2:     #41b9b3;
$c_articleAuthorH3:     #41b9b3;

// call-to-action
$c_ctaBg:               #6bbd1e;
$c_ctaBorder:           #da5a91;
$c_ctaTextWhite:        #ffffff;
$c_ctaTextShadow:       #4a5358;
$c_ctaBoxShadow:        #000000;

$c_ctaBgWhite:          #ffffff;
$c_ctaBorderWhite:      #ffffff;
$c_ctaBgGrey:           #e6e6e6;
$c_ctaBorderGrey:       #e6e6e6;
$c_ctaTextBlack:        #000000;

// tables
$c_tableBg:             #ffffff;
$c_tableText:           #000000;
$c_tableRowAlt:         #e6e6e6;
$c_tableHeaderBg:       #a4a7ab;
$c_tableHeaderText:     #ffffff;
$c_tableLink:           #a4a7ab;
$c_tableLinkHover:      #41b9b3;
$c_tableBorder:         #faf0f0;
$c_tableCaption:        #a4a7ab;

// code
$c_codeBg:              #faf0f0;
$c_codeText:            #4a5358;

// mark
$c_markBg:              #ffff00;
$c_markText:            #000000;

// sidebar
$c_sidebarBg:           #ffffff;
$c_sidebarText:         #000000;
$c_sidebarLink:         #000000;
$c_sidebarLinkHover:    #41b9b3;
$c_sidebarLinkArrow:    #41b9b3;
$c_sidebarH3:           #da5a91;
$c_sidebarH3Bg:         #faf0f0;
$c_sidebarH4:           #e6e6e6;
$c_sidebarH4Bg:         #ffffff;

// footerwidgets
$c_footerWidgetsBg:       #faf0f0;
$c_footerWidgetsBorderTop:#41b9b3;
$c_footerWidgetsText:     #000000;
$c_footerWidgetsLink:     #4a5358;
$c_footerWidgetsLinkHover:#6bbd1e;
$c_footerWidgetsH3:       #000000;
$c_footerWidgetsH4:       #e6e6e6;

// footer
$c_footerBg:            #4a5358;
$c_footerBorderTop:     #41b9b3;
$c_footerText:          #ffffff;
$c_footerLink:          #ffffff;
$c_footerLinkHover:     #6bbd1e;
$c_footerH3:            #ffffff;
$c_footerH4:            #ffffff;

// main content border
$c_maincontent_border: 	#a4a7ab;

// general widgets
$c_widgetBorder:				#41b9b3;
$c_afterPostBorder: 		#41b9b3;