// color declarations ColorSet8

// color bar 1          #dbb471
// color bar 2          #d2a044
// color bar 3          #fbe79e
// t1                   #11a6a8
// nav                  #b5e1d8
// gray background      #eeeeee
// gray border          #b2b8b8
// T4                   #666666
// black text           #000000
// cta                  #fb681e
// footer               #e2e2e2

// #yoast-after-header-container check in list
$c_ListCheckImage:      "../images/li-check-Mediterranean.png";

// general
$c_bodyTopLine:         #dbb471;

$c_paragraph:           #000000;
$c_link:                #11a6a8;
$c_linkHover:           #d2a044;
$c_linkBorder:          #dddddd;

$c_logoText:            #999999;
$c_logoTextLink:        #333333;
$c_logoTextLinkHover:   #333333;

$c_taglineTop:          #666666;
$c_taglineTopBold:      #11a6a8;
$c_taglineFullWidth:    #666666;
$c_taglineFullWidthBold:#11a6a8;
$c_taglineBoxShadow:    #cccccc;
$c_taglineLink:         #11a6a8;
$c_taglineLinkHover:    #d2a044;

$c_breadcrumbs:         #666666;
$c_breadcrumbsLink:     #11a6a8;
$c_breadcrumbsLinkHover:#d2a044;

$c_pagenavBg:           #eeeeee;
$c_pagenavLink:         #11a6a8;
$c_pagenavHoverBg:      #b5e1d8;
$c_pagenavHoverLink:    #ffffff;
$c_pagenavActiveBg:     #b5e1d8;
$c_pagenavActiveLink:   #ffffff;

$c_metaAtPost:          #666666;
$c_metaAtPostBorder:    #dddddd;
$c_linkToArchives:      #11a6a8;
$c_commentHTMLtags:     #b2b8b8;

$c_hrLine:              #d2a044;
$c_borderImg:           #b2b8b8;
$c_randLine:            #b2b8b8; // random grey line

$c_selectionText:       #11a6a8;
$c_selectionBg:         #b5e1d8;

$c_fieldsetBorder:      #c0c0c0;

// header
$c_headerBg:            #eeeeee;
$c_headerText:          #11a6a8;
$c_headerLink:          #11a6a8;
$c_headerLinkHover:     #d2a044;
$c_headerH3:            #d2a044;
$c_headerH4:            #d2a044;

// navigation
$c_navMainFullBg:           #b5e1d8;
$c_navMainFullBorderTop:    #d2a044;
$c_navMainFullBorderBottom: #fbe79e;

$c_navMainBg:           #b5e1d8;
$c_navMainText:         #000000;
$c_navMainLink:         #000000;
$c_navMainLinkHover:    #ffffff;
$c_navMainLinkBg:       #b5e1d8;
$c_navMainLinkBgHover:  #d2a044;
$c_navMainBgActive:     #d2a044;
$c_navMainTextActive:   #ffffff;
$c_navMainLinkShadow:   #333333;
$c_navMainBorder:       #ffffff;
$c_navMainBorderBottom: #d2a044;
$c_navMainShadow:       #999999;

$c_navSubBg:           #d2a044;
$c_navSubText:         #ffffff;
$c_navSubLink:         #ffffff;
$c_navSubLinkHover:    #ffffff;
$c_navSubLinkBg:       #b5e1d8;
$c_navSubLinkBgHover:  #11a6a8;
$c_navSubLinkActive:   #b5e1d8;
$c_navSubBorder:       #ffffff;
$c_navSubBorderBottom: #d2a044;

// mobile menu Sidr
$sidr-background:               #e2e2e2;
$sidr-background-shadow-color:  #ebebeb;
$sidr-text-color:               #333333;
$c_sidr_linkBg:                 #b2b8b8;
$c_sidr_linkBorder:             #ffffff;
$c_sidr_linkHoverBg:            #666666;
$c_sidr_linkActiveBg:           #b2b8b8;
$c_sidr_linkHoverText:          #ffffff;
$c_sidr_headingText:            #666666;
$c_sidr_headingBorder:          #ffffff;
$c_sidr_boxShadow:              #999999;

// main content
$c_mainBg:              #ffffff;
$c_mainText:            #000000;
$c_mainLink:            #11a6a8;
$c_mainLinkHover:       #d2a044;
$c_mainH1:              #d2a044;
$c_mainH1Hover:         #11a6a8;
$c_mainH2:              #d2a044;
$c_mainH2Hover:         #11a6a8;
$c_mainH3:              #d2a044;
$c_mainH3Hover:         #11a6a8;
$c_mainH4:              #000000;
$c_mainH4Hover:         #333333;
$c_mainH5:              #000000;
$c_mainH5Hover:         #333333;
$c_mainH6:              #000000;
$c_mainH6Hover:         #333333;

$c_taxonomyIntroText:   #333333;
$c_taxonomyIntroH1:     #666666;

// blockquote
$c_BlockquoteText:      #333333;
$c_BlockquoteLink:      #11a6a8;
$c_BlockquoteLinkHover: #d2a044;
$c_BlockquoteBorder:    #dddddd;
$c_BlockquoteBg:        #eeeeee;
$c_blockquoteBefore:    #999999;

// input
$c_inputText:           #000000;
$c_inputTextFocus:      #000000;
$c_inputBg:             #ffffff;
$c_inputBgFocus:        #ffffff;
$c_inputBorder:         #b2b8b8;
$c_inputBoxShadow:      #eeeeee;
$c_inputBorderFocus:    #999999;
$c_inputTextPlaceholder:#999999;

$c_inputSubmitText:     #ffffff;
$c_inputSubmitTextHover:#ffffff;
$c_inputSubmitBg:       #11a6a8;
$c_inputSubmitBgHover:  #d2a044;
$c_inputSubmitBorder:   #11a6a8;
$c_inputSubmitTextShadow: #333333;
$c_inputSubmitBoxShadow:  #ffffff;

// comments
$c_commentBg:           #ffffff;
$c_commentText:         #000000;
$c_commentLink:         #d2a044;
$c_commentBorder:       #d2a044;
$c_commentReplyBorder:  #dddddd;
$c_commentByAuthorBg:   #eaf2f7;

// author block
$c_articleAuthorBg:     #eaf2f7;
$c_articleAuthorH2:     #d2a044;
$c_articleAuthorH3:     #11a6a8;

// call-to-action
$c_ctaBg:               #fb681e;
$c_ctaBorder:           #fb681e;
$c_ctaTextWhite:        #ffffff;
$c_ctaTextShadow:       #333333;
$c_ctaBoxShadow:        #ffffff;

$c_ctaBgWhite:          #ffffff;
$c_ctaBorderWhite:      #ffffff;
$c_ctaBgGrey:           #b2b8b8;
$c_ctaBorderGrey:       #b2b8b8;
$c_ctaTextBlack:        #000000;

// tables
$c_tableBg:             #ffffff;
$c_tableText:           #000000;
$c_tableRowAlt:         #b5e1d8;
$c_tableHeaderBg:       #11a6a8;
$c_tableHeaderText:     #ffffff;
$c_tableLink:           #11a6a8;
$c_tableLinkHover:      #d2a044;
$c_tableBorder:         #dddddd;
$c_tableCaption:        #11a6a8;

// code
$c_codeBg:              #eeeeee;
$c_codeText:            #333333;

// mark
$c_markBg:              #ffff00;
$c_markText:            #000000;

// sidebar
$c_sidebarBg:           #ffffff;
$c_sidebarText:         #000000;
$c_sidebarLink:         #000000;
$c_sidebarLinkHover:    #11a6a8;
$c_sidebarLinkArrow:    #11a6a8;
$c_sidebarH3:           #11a6a8;
$c_sidebarH3Bg:         #eeeeee;
$c_sidebarH4:           #666666;
$c_sidebarH4Bg:         #ffffff;

// footerwidgets
$c_footerWidgetsBg:       #eeeeee;
$c_footerWidgetsBorderTop:#dbb471;
$c_footerWidgetsText:     #000000;
$c_footerWidgetsLink:     #11a6a8;
$c_footerWidgetsLinkHover:#000000;
$c_footerWidgetsH3:       #666666;
$c_footerWidgetsH4:       #666666;

// footer
$c_footerBg:            #e2e2e2;
$c_footerBorderTop:     #cccccc;
$c_footerText:          #000000;
$c_footerLink:          #000000;
$c_footerLinkHover:     #d2a044;
$c_footerH3:            #000000;
$c_footerH4:            #000000;