// color declarations PurpleBright

// #821b80		Button 1 / headings / tagline
// #61338a		Button 2 / Headings sidebar
// #274d9c		Button 3 / Text Active / Tagline / Border Top
// #888888		Text Grey / BG Footer
// #f0f0f0		BG Top
// #b5b5b5		Borders / Lines Sidebar
// #000000		Black text
// #f37837		CTA
// #ffffff		White
// #c8c8c8		Exception for After Header Box Shadow
//
$c_sprite:              "sprites/Strategy_Sprite_PurpleBright.png";

// general
$c_bodyTopLine:         #274d9c;

$c_link:                #274d9c;
$c_linkHover:           #61338a;
$c_altLink:         	  #888888;
$c_linkBorder:          #f0f0f0;

$c_logoText:            #000000;
$c_logoTextLink:        #000000;
$c_logoTextLinkHover:   #000000;

$c_taglineFullWidth:    					#61338a;
$c_taglineFullWidthBold:					#274d9c;
$c_tagline_top_border_top:				#274d9c;
$c_tagline_top_border_bottom:			#b5b5b5;
$c_tagline_middle_border_bottom:	#274d9c;

$c_breadcrumbs:         #b5b5b5;
$c_breadcrumbsLink:     #274d9c;
$c_breadcrumbsLinkHover:#274d9c;

$c_pagenavBg:           #ffffff;
$c_pagenavLink:         #274d9c;
$c_pagenavHoverBg:      #ffffff;
$c_pagenavHoverLink:    #274d9c;
$c_pagenavActiveBg:     #ffffff;
$c_pagenavActiveLink:   #888888;

$c_metaAtPost:          #b5b5b5;

$c_hrLine:              #821b80;
$c_borderImg:           #b5b5b5;
$c_randLine:            #b5b5b5; // random grey line

$c_selectionText:       #ffffff;
$c_selectionBg:         #821b80;

$c_fieldsetBorder:      #f0f0f0;
$c_excerpt_readmore: 		#274d9c;
$c_back_to_top: 				#274d9c;

$c_strong: 							#274d9c;

$c_fullwidth_articleBorder: 	#b5b5b5;

// header
$c_headerLink:          #888888;

// navigation
$c_navMainFullBg:           #ffffff;
$c_navMainFullBorderBottom: #274d9c;

$c_navMainBg:           #ffffff;
$c_navMainLink:         #888888;
$c_navMainShadow:       #f0f0f0;

$c_navSubBg:           #ffffff;
$c_navSubLink:         #888888;
$c_navSubLinkHover:    #ffffff;
$c_navSubLinkBg:       #274d9c;
$c_navSubLinkBgHover:  #274d9c;
$c_navSubBorder:       #b5b5b5;

$c_navMainBgSticky:    #821b80;
$c_navMainLinkSticky:	 #ffffff;

$c_afterHeaderBg: 				#f0f0f0;
$c_afterHeaderBoxShadow: 	#c8c8c8; // exception
$c_afterHeaderH3: 				#61338a;

// mobile menu Sidr
$sidr-background:               #ffffff;
$sidr-text-color:               #888888;
$c_sidr_linkBorder:             #274d9c;
$c_sidr_subLinkBorder:					#b5b5b5;
$c_sidr_subLinkText:						#000000;
$c_sidr_linkHoverText:          #274d9c;
$c_sidr_linkActiveText: 				#ffffff;
$c_sidr_linkActiveBg:           #888888;
$c_sidr_headingBg:							#ffffff;
$c_sidr_headingText:            #333333;
$c_sidr_boxShadow:              #888888;
$c_sidr_searchBg:								#274d9c;
$c_sidr_searchH1:								#f0f0f0;
$c_sidr_searchH1Bg:							#f0f0f0;

// main content
$c_mainBg:              #ffffff;
$c_mainText:            #000000;
$c_mainH1:              #821b80;
$c_mainH1Hover:         #61338a;
$c_mainH2:              #821b80;
$c_mainH2Hover:         #61338a;
$c_mainH3:              #888888;
$c_mainH3Hover:         #61338a;
$c_mainH4:              #61338a;
$c_mainH4Hover:         #821b80;
$c_mainH5:              #274d9c;
$c_mainH5Hover:         #61338a;
$c_mainH6:              #888888;
$c_mainH6Hover:         #61338a;
$c_labels:							#888888;

$c_taxonomyIntroText:   #888888;
$c_taxonomyIntroH1:     #821b80;

// blockquote
$c_BlockquoteText:      #000000;
$c_blockquoteBefore:    #b5b5b5;

// input
$c_inputText:           #000000;
$c_inputBg:             #ffffff;
$c_inputBorder:         #b5b5b5;
$c_inputBorderFocus:    #b5b5b5;
$c_inputTextPlaceholder:#b5b5b5;

$c_inputSubmitText:     #ffffff;
$c_inputSubmitBg:       #274d9c;
$c_inputSubmitBorder:   #274d9c;
$c_inputSubmitBoxShadow:  #ffffff;

// comments
$c_commentReplyTitle:		#61338a;
$c_commentHeader:       #888888;
$c_commentTitle:				#61338a;
$c_commentAuthor:       #274d9c;
$c_commentBorder:       #b5b5b5;
$c_commentByAuthor_border:	#274d9c;

// author block
$c_articleAuthorBg:   #f0f0f0;
$c_articleAuthorText:	#000000;
$c_articleAuthorTitle:	#61338a;

// call-to-action
$c_ctaBg:               #f37837;
$c_ctaBg_1:							#821b80;
$c_ctaBg_2:							#61338a;
$c_ctaBg_3:							#274d9c;

$c_ctaBorder:           #f37837;
$c_ctaTextWhite:        #ffffff;

$c_ctaBgWhite:          #ffffff;
$c_ctaBgGrey:           #b5b5b5;
$c_ctaBorderGrey:       #b5b5b5;
$c_ctaTextBlack:        #000000;

// tables
$c_tableBorder:         #b5b5b5;

// code
$c_codeBg:              #b5b5b5;
$c_codeText:            #888888;

// mark
$c_markBg:              #ffff00; // exception color
$c_markText:            #000000;

// sidebar
$c_sidebarText:         #000000;
$c_sidebarLink:         #000000;
$c_sidebarLinkArrow:    #888888;
$c_sidebarH3:           #61338a;
$c_sidebarH3Bg:         #ffffff;

// After Post
$c_afterPostBg:							#ffffff;

// Widgets
$c_widgetTitleBorder:					#b5b5b5;
$c_widget_calendar_link: 			#61338a;

$c_widget_localseo_openinghours:			#274d9c;
$c_widget_localseo_openinghours_day:	#888888;
$c_widget_localseo_openinghours_time:	#000000;

$c_widget_PC_link:			#274d9c;
$c_widget_PC_heading:		#61338a;

$c_widget_tagline:			#61338a;

// footerwidgets
$c_footerWidgetsBg:       #f0f0f0;
$c_footerWidgetsBorderTop:#888888;
$c_footerWidgetsText:     #000000;

// footer
$c_footerBg:            #888888;
$c_footerText:          #ffffff;
$c_footerLink:          #ffffff;
$c_footerLinkHover:     #61338a;
$c_footerH3:            #ffffff;
$c_footerH4:            #ffffff;