// color declarations ColorSet5

// color bar 1          #ecf7bf
// color bar 2          #e74c21
// color bar 3          #e74c21
// t1                   #219149
// nav                  #c5e89c
// gray background      #dce6f0
// gray border          #e6e6e6
// T4                   #e6e6e6
// black text           #000000
// cta                  #28a0ff
// footer               #e6e6e6

// Color declarations Versatile ColorSet1 SolidOrange

// H1 / H3 / Button Field / BG Top					#0f495f
// T3 / Lines Color / NAV Active						#e74c21
// T2 / H2 Gray / BG Footer Dark						#4a5358
// CTA																			#6bbd1e
// Lines / Spacers Gray / Buttons content		#a4a7ab
// BG Content Top / BG Footer NAV Light			#dce6f0
// Text black																#000000
// BG																				#e6e6e6

// #yoast-after-header-container check in list
$c_ListCheckImage:      "../images/li-check-Spring.png";

// general
$c_bodyTopLineDark:     #e74c21;
$c_bodyTopLineLight:    #0f495f;
$c_bodyLine:						#e74c21;

$c_paragraph:           #000000;
$c_link:                #e74c21;
$c_linkHover:           #e74c21;
$c_linkBorder:          #dce6f0;

$c_logoText:            #a4a7ab;
$c_logoTextLink:        #4a5358;
$c_logoTextLinkHover:   #4a5358;

$c_taglineTopLight:     #ffffff;
$c_taglineTopDark:      #0f495f;
$c_taglineTopBold:      #e74c21;
$c_taglineFullWidth:    #e6e6e6;
$c_taglineFullWidthBold:#e74c21;
$c_taglineBoxShadow:    #cccccc;
$c_taglineLink:         #e74c21;
$c_taglineLinkHover:    #e74c21;

$c_breadcrumbs:         #4a5358;
$c_breadcrumbsLink:     #e74c21;
$c_breadcrumbsLinkHover:#4a5358;

$c_pagenavBg:           #ffffff;
$c_pagenavLink:         #e74c21;
$c_pagenavHoverBg:      #4a5358;
$c_pagenavHoverLink:    #ffffff;
$c_pagenavActiveBg:     #e74c21;
$c_pagenavActiveLink:   #ffffff;

$c_metaAtPost:          #4a5358;
$c_metaAtPostBorder:    #dce6f0;
$c_commentHTMLtags:     #e6e6e6;

$c_hrLine:              #e6e6e6;
$c_borderImg:           #e6e6e6;
$c_randLine:            #a4a7ab; // random grey line

$c_selectionText:       #ffffff;
$c_selectionBg:         #e74c21;

$c_fieldsetBorder:      #4a5358;

// header
$c_headerBgDark:        #0f495f;
$c_headerBgLight:       #ffffff;
$c_headerText:          #000000;
$c_headerLink:          #e74c21;
$c_headerLinkHover:     #e74c21;
$c_headerH3:            #4a5358;
$c_headerH4:            #4a5358;

// after header widgets
$c_afterHeaderBg:					#dce6f0;
$c_afterHeaderLink:				#e74c21;
$c_afterHeaderLinkHover:	#4a5358;
$c_afterHeaderH3:					#4a5358;
$c_afterHeaderH4:					#4a5358;
$c_afterHeaderText:				#0f495f;
$c_afterHeaderBorder:			#e74c21;

// navigation
$c_navMainFullBg:           #4a5358;
$c_navMainFullBorderTop:    #e74c21;
$c_navMainFullBorderBottom: #e74c21;

$c_navMainBg:           #4a5358;
$c_navMainText:         #ffffff;
$c_navMainLink:         #ffffff;
$c_navMainLinkHover:    #ffffff;
$c_navMainLinkBg:       #4a5358;
$c_navMainLinkBgHover:  #e74c21;
$c_navMainBgActive:     #e74c21;
$c_navMainTextActive:   #ffffff;
$c_navMainLinkShadow:   #4a5358;
$c_navMainBorder:       #ffffff;
$c_navMainBorderBottom: #e74c21;
$c_navMainShadow:       #a4a7ab;

$c_navSubBg:           #4a5358;
$c_navSubText:         #ffffff;
$c_navSubLink:         #ffffff;
$c_navSubLinkHover:    #ffffff;
$c_navSubLinkBg:       #4a5358;
$c_navSubLinkBgHover:  #e74c21;
$c_navSubLinkActive:   #ffffff;
$c_navSubLinkActiveBg: #4a5358;
$c_navSubBorder:       #e6e6e6;
$c_navSubBorderBottom: #e74c21;

// mobile menu Sidr
$sidr-background:               #e6e6e6;
$sidr-background-shadow-color:  #e6e6e6;
$sidr-text-color:               #4a5358;
$c_sidr_linkBg:                 #e6e6e6;
$c_sidr_linkBorder:             #ffffff;
$c_sidr_linkHoverBg:            #e6e6e6;
$c_sidr_linkActiveBg:           #e74c21;
$c_sidr_linkHoverText:          #ffffff;
$c_sidr_headingText:            #e6e6e6;
$c_sidr_headingBorder:          #ffffff;
$c_sidr_boxShadow:              #a4a7ab;

// main content
$c_mainBg:              #e6e6e6;
$c_mainContentBg:				#ffffff;
$c_mainText:            #000000;
$c_mainLink:            #e74c21;
$c_mainLinkHover:       #e74c21;
$c_mainH1:              #0f495f;
$c_mainH1Hover:         #e74c21;
$c_mainH2:              #4a5358;
$c_mainH2Hover:         #e74c21;
$c_mainH3:              #4a5358;
$c_mainH3Hover:         #e74c21;
$c_mainH4:              #000000;
$c_mainH4Hover:         #4a5358;
$c_mainH5:              #000000;
$c_mainH5Hover:         #4a5358;
$c_mainH6:              #000000;
$c_mainH6Hover:         #4a5358;

$c_taxonomyIntroText:   #4a5358;
$c_taxonomyIntroH1:     #e6e6e6;

// blockquote
$c_BlockquoteText:      #4a5358;
$c_BlockquoteLink:      #e74c21;
$c_BlockquoteLinkHover: #e74c21;
$c_BlockquoteBorder:    #dce6f0;
$c_BlockquoteBg:        #dce6f0;
$c_blockquoteBefore:    #a4a7ab;

// input
$c_inputText:           #000000;
$c_inputTextFocus:      #000000;
$c_inputBg:             #ffffff;
$c_inputBgFocus:        #ffffff;
$c_inputBorder:         #e6e6e6;
$c_inputBoxShadow:      #dce6f0;
$c_inputBorderFocus:    #a4a7ab;
$c_inputTextPlaceholder:#a4a7ab;

$c_inputSubmitText:     #ffffff;
$c_inputSubmitTextHover:#ffffff;
$c_inputSubmitBg:       #a4a7ab;
$c_inputSubmitBgHover:  #a4a7ab;
$c_inputSubmitBorder:   #a4a7ab;
$c_inputSubmitTextShadow: #4a5358;
$c_inputSubmitBoxShadow:  #ffffff;

// comments
$c_commentBg:           #ffffff;
$c_commentText:         #000000;
$c_commentLink:         #e74c21;
$c_commentBorder:       #e74c21;
$c_commentReplyBorder:  #dce6f0;
$c_commentByAuthorBg:   #dce6f0;
$c_entryCommentsH3:			#0f495f;
$c_postAuthorBorder: 		#e74c21;
$c_commentReplyTitle: 	#0f495f;
$c_commentFormTitle: 		#4a5358;
$c_allowedTags: 				#4a5358;
$c_allowedTagsBg:				#e6e6e6;

// author block
$c_articleAuthorBg:     #dce6f0;
$c_articleAuthorH2:     #e74c21;
$c_articleAuthorH3:     #e74c21;

// call-to-action
$c_ctaBg:               #6bbd1e;
$c_ctaBorder:           #6bbd1e;
$c_ctaTextWhite:        #ffffff;
$c_ctaTextShadow:       #4a5358;
$c_ctaBoxShadow:        #000000;

$c_ctaBgWhite:          #ffffff;
$c_ctaBorderWhite:      #ffffff;
$c_ctaBgGrey:           #e6e6e6;
$c_ctaBorderGrey:       #e6e6e6;
$c_ctaTextBlack:        #000000;

// tables
$c_tableBg:             #ffffff;
$c_tableText:           #000000;
$c_tableRowAlt:         #e6e6e6;
$c_tableHeaderBg:       #a4a7ab;
$c_tableHeaderText:     #ffffff;
$c_tableLink:           #a4a7ab;
$c_tableLinkHover:      #e74c21;
$c_tableBorder:         #dce6f0;
$c_tableCaption:        #a4a7ab;

// code
$c_codeBg:              #dce6f0;
$c_codeText:            #4a5358;

// mark
$c_markBg:              #ffff00;
$c_markText:            #000000;

// sidebar
$c_sidebarBg:           #ffffff;
$c_sidebarText:         #000000;
$c_sidebarLink:         #000000;
$c_sidebarLinkHover:    #e74c21;
$c_sidebarLinkArrow:    #e74c21;
$c_sidebarH3:           #0f495f;
$c_sidebarH3Bg:         #dce6f0;
$c_sidebarH4:           #e6e6e6;
$c_sidebarH4Bg:         #ffffff;

// footerwidgets
$c_footerWidgetsBg:       #dce6f0;
$c_footerWidgetsBorderTop:#e74c21;
$c_footerWidgetsText:     #000000;
$c_footerWidgetsLink:     #4a5358;
$c_footerWidgetsLinkHover:#e74c21;
$c_footerWidgetsH3:       #000000;
$c_footerWidgetsH4:       #e6e6e6;

// footer
$c_footerBg:            #4a5358;
$c_footerBorderTop:     #e74c21;
$c_footerText:          #ffffff;
$c_footerLink:          #ffffff;
$c_footerLinkHover:     #e74c21;
$c_footerH3:            #ffffff;
$c_footerH4:            #ffffff;

// main content border
$c_maincontent_border: 	#a4a7ab;

// general widgets
$c_widgetBorder:				#e74c21;
$c_afterPostBorder: 		#e74c21;