// color declarations ColorSet4

// color bar 1          #efd4dc
// color bar 2          #de8396
// color bar 3          #c8627c
// t1                   #3f5da1
// nav                  #9dbde0
// gray background      #eeeeee
// gray border          #b2b8b8
// T4                   #666666
// black text           #000000
// cta                  #6bbd1e
// footer               #e2e2e2

$c_sprite:              "sprite-IceBlue.png";

// general
$c_bodyTopLine:         #efd4dc;

$c_paragraph:           #000000;
$c_link:                #3f5da1;
$c_linkHover:           #de8396;
$c_linkBorder:          #dddddd;

$c_logoText:            #999999;
$c_logoTextLink:        #333333;
$c_logoTextLinkHover:   #333333;

$c_taglineTop:          #666666;
$c_taglineTopBold:      #3f5da1;
$c_taglineFullWidth:    #666666;
$c_taglineFullWidthBold:#3f5da1;
$c_taglineBoxShadow:    #cccccc;
$c_taglineLink:         #3f5da1;
$c_taglineLinkHover:    #de8396;

$c_breadcrumbs:         #666666;
$c_breadcrumbsLink:     #3f5da1;
$c_breadcrumbsLinkHover:#de8396;

$c_pagenavBg:           #eeeeee;
$c_pagenavLink:         #3f5da1;
$c_pagenavHoverBg:      #9dbde0;
$c_pagenavHoverLink:    #ffffff;
$c_pagenavActiveBg:     #9dbde0;
$c_pagenavActiveLink:   #ffffff;

$c_metaAtPost:          #666666;
$c_metaAtPostBorder:    #dddddd;
$c_linkToArchives:      #3f5da1;
$c_commentHTMLtags:     #b2b8b8;

$c_hrLine:              #efd4dc;
$c_borderImg:           #b2b8b8;
$c_randLine:            #b2b8b8; // random grey line

$c_selectionText:       #3f5da1;
$c_selectionBg:         #9dbde0;

$c_fieldsetBorder:      #c0c0c0;

// header
$c_headerBg:            #eeeeee;
$c_headerText:          #3f5da1;
$c_headerLink:          #3f5da1;
$c_headerLinkHover:     #de8396;
$c_headerH3:            #de8396;
$c_headerH4:            #de8396;

// navigation
$c_navMainFullBg:           #9dbde0;
$c_navMainFullBorderTop:    #de8396;
$c_navMainFullBorderBottom: #c8627c;

$c_navMainBg:           #9dbde0;
$c_navMainText:         #000000;
$c_navMainLink:         #000000;
$c_navMainLinkHover:    #ffffff;
$c_navMainLinkBg:       #9dbde0;
$c_navMainLinkBgHover:  #de8396;
$c_navMainBgActive:     #de8396;
$c_navMainTextActive:   #ffffff;
$c_navMainLinkShadow:   #333333;
$c_navMainBorder:       #ffffff;
$c_navMainBorderBottom: #de8396;
$c_navMainShadow:       #999999;

$c_navSubBg:           #de8396;
$c_navSubText:         #ffffff;
$c_navSubLink:         #ffffff;
$c_navSubLinkHover:    #ffffff;
$c_navSubLinkBg:       #9dbde0;
$c_navSubLinkBgHover:  #3f5da1;
$c_navSubLinkActive:   #9dbde0;
$c_navSubBorder:       #ffffff;
$c_navSubBorderBottom: #de8396;

// mobile menu Sidr
$sidr-background:               #e2e2e2;
$sidr-background-shadow-color:  #ebebeb;
$sidr-text-color:               #333333;
$c_sidr_linkBg:                 #b2b8b8;
$c_sidr_linkBorder:             #ffffff;
$c_sidr_linkHoverBg:            #666666;
$c_sidr_linkActiveBg:           #3f5da1;
$c_sidr_linkHoverText:          #ffffff;
$c_sidr_headingText:            #666666;
$c_sidr_headingBorder:          #ffffff;
$c_sidr_boxShadow:              #999999;

// main content
$c_mainBg:              #ffffff;
$c_mainText:            #000000;
$c_mainLink:            #3f5da1;
$c_mainLinkHover:       #de8396;
$c_mainH1:              #de8396;
$c_mainH1Hover:         #3f5da1;
$c_mainH2:              #de8396;
$c_mainH2Hover:         #3f5da1;
$c_mainH3:              #de8396;
$c_mainH3Hover:         #3f5da1;
$c_mainH4:              #de8396;
$c_mainH4Hover:         #3f5da1;
$c_mainH5:              #666666;
$c_mainH5Hover:         #333333;
$c_mainH6:              #000000;
$c_mainH6Hover:         #333333;

$c_taxonomyIntroText:   #333333;
$c_taxonomyIntroH1:     #666666;

// blockquote
$c_BlockquoteText:      #333333;
$c_BlockquoteLink:      #3f5da1;
$c_BlockquoteLinkHover: #de8396;
$c_BlockquoteBorder:    #dddddd;
$c_BlockquoteBg:        #eeeeee;
$c_blockquoteBefore:    #999999;

// input
$c_inputText:           #000000;
$c_inputTextFocus:      #000000;
$c_inputBg:             #ffffff;
$c_inputBgFocus:        #ffffff;
$c_inputBorder:         #b2b8b8;
$c_inputBoxShadow:      #eeeeee;
$c_inputBorderFocus:    #999999;
$c_inputTextPlaceholder:#999999;

$c_inputSubmitText:     #ffffff;
$c_inputSubmitTextHover:#ffffff;
$c_inputSubmitBg:       #3f5da1;
$c_inputSubmitBgHover:  #de8396;
$c_inputSubmitBorder:   #3f5da1;
$c_inputSubmitTextShadow: #333333;
$c_inputSubmitBoxShadow:  #ffffff;

// comments
$c_commentBg:           #ffffff;
$c_commentText:         #000000;
$c_commentHeader:       #666666;
$c_commentAuthor:       #3f5da1;
$c_commentLink:         #de8396;
$c_commentBorder:       #de8396;
$c_commentReplyBorder:  #dddddd;
$c_commentByAuthorBg:   #eeeeee;

// author block
$c_articleAuthorBg:     #eeeeee;
$c_articleAuthorH2:     #de8396;
$c_articleAuthorH3:     #3f5da1;

// call-to-action
$c_ctaBg:               #6bbd1e;
$c_ctaBorder:           #6bbd1e;
$c_ctaTextWhite:        #ffffff;
$c_ctaTextShadow:       #333333;
$c_ctaBoxShadow:        #ffffff;

$c_ctaBgWhite:          #ffffff;
$c_ctaBorderWhite:      #ffffff;
$c_ctaBgGrey:           #b2b8b8;
$c_ctaBorderGrey:       #b2b8b8;
$c_ctaTextBlack:        #000000;

// tables
$c_tableBg:             #ffffff;
$c_tableText:           #000000;
$c_tableRowAlt:         #9dbde0;
$c_tableHeaderBg:       #3f5da1;
$c_tableHeaderText:     #ffffff;
$c_tableLink:           #3f5da1;
$c_tableLinkHover:      #de8396;
$c_tableBorder:         #dddddd;
$c_tableCaption:        #3f5da1;

// code
$c_codeBg:              #eeeeee;
$c_codeText:            #333333;

// mark
$c_markBg:              #ffff00;
$c_markText:            #000000;

// sidebar
$c_sidebarBg:           #ffffff;
$c_sidebarText:         #000000;
$c_sidebarLink:         #000000;
$c_sidebarLinkHover:    #3f5da1;
$c_sidebarLinkArrow:    #3f5da1;
$c_sidebarH3:           #3f5da1;
$c_sidebarH3Bg:         #eeeeee;
$c_sidebarH4:           #666666;
$c_sidebarH4Bg:         #ffffff;

// footerwidgets
$c_footerWidgetsBg:       #eeeeee;
$c_footerWidgetsBorderTop:#efd4dc;
$c_footerWidgetsText:     #000000;
$c_footerWidgetsLink:     #3f5da1;
$c_footerWidgetsLinkHover:#000000;
$c_footerWidgetsH3:       #666666;
$c_footerWidgetsH4:       #666666;

// footer
$c_footerBg:            #e2e2e2;
$c_footerBorderTop:     #cccccc;
$c_footerText:          #000000;
$c_footerLink:          #000000;
$c_footerLinkHover:     #de8396;
$c_footerH3:            #000000;
$c_footerH4:            #000000;