// color declarations ColorSet3

// color bar 1          #c91331
// color bar 2          #494794
// color bar 3          #211f6c
// t1                   #211f6c
// nav                  #bddbed
// gray background      #eeeeee
// gray border          #b2b8b8
// T4                   #666666
// black text           #000000
// cta                  #28a0ff
// footer               #e2e2e2

// #yoast-after-header-container check in list
$c_ListCheckImage:      "../images/li-check-BusinessBlue.png";

// general
$c_bodyTopLine:         #c91331;

$c_paragraph:           #000000;
$c_link:                #211f6c;
$c_linkHover:           #494794;
$c_linkBorder:          #dddddd;

$c_logoText:            #999999;
$c_logoTextLink:        #333333;
$c_logoTextLinkHover:   #333333;

$c_taglineTop:          #666666;
$c_taglineTopBold:      #211f6c;
$c_taglineFullWidth:    #666666;
$c_taglineFullWidthBold:#211f6c;
$c_taglineBoxShadow:    #cccccc;
$c_taglineLink:         #211f6c;
$c_taglineLinkHover:    #494794;

$c_breadcrumbs:         #666666;
$c_breadcrumbsLink:     #211f6c;
$c_breadcrumbsLinkHover:#494794;

$c_pagenavBg:           #eeeeee;
$c_pagenavLink:         #211f6c;
$c_pagenavHoverBg:      #bddbed;
$c_pagenavHoverLink:    #ffffff;
$c_pagenavActiveBg:     #bddbed;
$c_pagenavActiveLink:   #ffffff;

$c_metaAtPost:          #666666;
$c_metaAtPostBorder:    #dddddd;
$c_linkToArchives:      #211f6c;
$c_commentHTMLtags:     #b2b8b8;

$c_hrLine:              #494794;
$c_borderImg:           #b2b8b8;
$c_randLine:            #b2b8b8; // random grey line

$c_selectionText:       #211f6c;
$c_selectionBg:         #bddbed;

$c_fieldsetBorder:      #c0c0c0;

// header
$c_headerBg:            #eeeeee;
$c_headerText:          #211f6c;
$c_headerLink:          #211f6c;
$c_headerLinkHover:     #494794;
$c_headerH3:            #494794;
$c_headerH4:            #494794;

// navigation
$c_navMainFullBg:           #bddbed;
$c_navMainFullBorderTop:    #494794;
$c_navMainFullBorderBottom: #211f6c;

$c_navMainBg:           #bddbed;
$c_navMainText:         #000000;
$c_navMainLink:         #000000;
$c_navMainLinkHover:    #ffffff;
$c_navMainLinkBg:       #bddbed;
$c_navMainLinkBgHover:  #494794;
$c_navMainBgActive:     #494794;
$c_navMainTextActive:   #ffffff;
$c_navMainLinkShadow:   #333333;
$c_navMainBorder:       #ffffff;
$c_navMainBorderBottom: #494794;
$c_navMainShadow:       #999999;

$c_navSubBg:           #494794;
$c_navSubText:         #ffffff;
$c_navSubLink:         #ffffff;
$c_navSubLinkHover:    #ffffff;
$c_navSubLinkBg:       #bddbed;
$c_navSubLinkBgHover:  #211f6c;
$c_navSubLinkActive:   #bddbed;
$c_navSubBorder:       #ffffff;
$c_navSubBorderBottom: #494794;

// mobile menu Sidr
$sidr-background:               #e2e2e2;
$sidr-background-shadow-color:  #ebebeb;
$sidr-text-color:               #333333;
$c_sidr_linkBg:                 #b2b8b8;
$c_sidr_linkBorder:             #ffffff;
$c_sidr_linkHoverBg:            #666666;
$c_sidr_linkActiveBg:           #b2b8b8;
$c_sidr_linkHoverText:          #ffffff;
$c_sidr_headingText:            #666666;
$c_sidr_headingBorder:          #ffffff;
$c_sidr_boxShadow:              #999999;

// main content
$c_mainBg:              #ffffff;
$c_mainText:            #000000;
$c_mainLink:            #211f6c;
$c_mainLinkHover:       #494794;
$c_mainH1:              #494794;
$c_mainH1Hover:         #211f6c;
$c_mainH2:              #494794;
$c_mainH2Hover:         #211f6c;
$c_mainH3:              #494794;
$c_mainH3Hover:         #211f6c;
$c_mainH4:              #000000;
$c_mainH4Hover:         #333333;
$c_mainH5:              #000000;
$c_mainH5Hover:         #333333;
$c_mainH6:              #000000;
$c_mainH6Hover:         #333333;

$c_taxonomyIntroText:   #333333;
$c_taxonomyIntroH1:     #666666;

// blockquote
$c_BlockquoteText:      #333333;
$c_BlockquoteLink:      #211f6c;
$c_BlockquoteLinkHover: #494794;
$c_BlockquoteBorder:    #dddddd;
$c_BlockquoteBg:        #eeeeee;
$c_blockquoteBefore:    #999999;

// input
$c_inputText:           #000000;
$c_inputTextFocus:      #000000;
$c_inputBg:             #ffffff;
$c_inputBgFocus:        #ffffff;
$c_inputBorder:         #b2b8b8;
$c_inputBoxShadow:      #eeeeee;
$c_inputBorderFocus:    #999999;
$c_inputTextPlaceholder:#999999;

$c_inputSubmitText:     #ffffff;
$c_inputSubmitTextHover:#ffffff;
$c_inputSubmitBg:       #211f6c;
$c_inputSubmitBgHover:  #494794;
$c_inputSubmitBorder:   #211f6c;
$c_inputSubmitTextShadow: #333333;
$c_inputSubmitBoxShadow:  #ffffff;

// comments
$c_commentBg:           #ffffff;
$c_commentText:         #000000;
$c_commentLink:         #494794;
$c_commentBorder:       #494794;
$c_commentReplyBorder:  #dddddd;
$c_commentByAuthorBg:   #eaf2f7;

// author block
$c_articleAuthorBg:     #eaf2f7;
$c_articleAuthorH2:     #494794;
$c_articleAuthorH3:     #211f6c;

// call-to-action
$c_ctaBg:               #28a0ff;
$c_ctaBorder:           #28a0ff;
$c_ctaTextWhite:        #ffffff;
$c_ctaTextShadow:       #333333;
$c_ctaBoxShadow:        #ffffff;

$c_ctaBgWhite:          #ffffff;
$c_ctaBorderWhite:      #ffffff;
$c_ctaBgGrey:           #b2b8b8;
$c_ctaBorderGrey:       #b2b8b8;
$c_ctaTextBlack:        #000000;

// tables
$c_tableBg:             #ffffff;
$c_tableText:           #000000;
$c_tableRowAlt:         #bddbed;
$c_tableHeaderBg:       #211f6c;
$c_tableHeaderText:     #ffffff;
$c_tableLink:           #211f6c;
$c_tableLinkHover:      #494794;
$c_tableBorder:         #dddddd;
$c_tableCaption:        #211f6c;

// code
$c_codeBg:              #eeeeee;
$c_codeText:            #333333;

// mark
$c_markBg:              #ffff00;
$c_markText:            #000000;

// sidebar
$c_sidebarBg:           #ffffff;
$c_sidebarText:         #000000;
$c_sidebarLink:         #000000;
$c_sidebarLinkHover:    #211f6c;
$c_sidebarLinkArrow:    #211f6c;
$c_sidebarH3:           #211f6c;
$c_sidebarH3Bg:         #eeeeee;
$c_sidebarH4:           #666666;
$c_sidebarH4Bg:         #ffffff;

// footerwidgets
$c_footerWidgetsBg:       #eeeeee;
$c_footerWidgetsBorderTop:#c91331;
$c_footerWidgetsText:     #000000;
$c_footerWidgetsLink:     #211f6c;
$c_footerWidgetsLinkHover:#000000;
$c_footerWidgetsH3:       #666666;
$c_footerWidgetsH4:       #666666;

// footer
$c_footerBg:            #e2e2e2;
$c_footerBorderTop:     #cccccc;
$c_footerText:          #000000;
$c_footerLink:          #000000;
$c_footerLinkHover:     #494794;
$c_footerH3:            #000000;
$c_footerH4:            #000000;