// color declarations

// general
$c_bodyTopLine:         #ecf7bf;

$c_paragraph:           #000000;
$c_link:                #219149;
$c_linkHover:           #db363f;
$c_linkBorder:          #dddddd;

$c_logoText:            #999999;
$c_logoTextLink:        #333333;
$c_logoTextLinkHover:   #333333;

$c_taglineTop:          #666666;
$c_taglineTopBold:      #219149;
$c_taglineFullWidth:    #666666;
$c_taglineFullWidthBold:#219149;
$c_taglineBoxShadow:    #cccccc;
$c_taglineLink:         #219149;
$c_taglineLinkHover:    #db363f;

$c_breadcrumbs:         #000000;
$c_breadcrumbsLink:     #219149;
$c_breadcrumbsLinkHover:#db363f;

$c_pagenavBg:           #eeeeee;
$c_pagenavLink:         #219149;
$c_pagenavHoverBg:      #b3d736;
$c_pagenavHoverLink:    #ffffff;
$c_pagenavActiveBg:     #b3d736;
$c_pagenavActiveLink:   #ffffff;

$c_metaAtPost:          #333333;
$c_metaAtPostBorder:    #dddddd;
$c_linkToArchives:      #219149;
$c_commentHTMLtags:     #b2b8b8;
$c_hrLine:              #db363f;

$c_randLine:            #dddddd; // random grey line

$c_selectionText:       #219149;
$c_selectionBg:         #c5e89c;

$c_fieldsetBorder:      #c0c0c0;

// header
$c_headerBg:            #eeeeee;
$c_headerText:          #219149;
$c_headerLink:          #219149;
$c_headerLinkHover:     #db363f;
$c_headerH3:            #db363f;
$c_headerH4:            #db363f;

// navigation
$c_navMainFullBg:       #c5e89c;
$c_navMainFullBorderTop:#db363f;
$c_navMainFullBorderBottom:     #c50721;

$c_navMainBg:           #c5e89c;
$c_navMainText:         #000000;
$c_navMainLink:         #000000;
$c_navMainLinkHover:    #ffffff;
$c_navMainLinkBg:       #c5e89c;
$c_navMainLinkBgHover:  #db363f;
$c_navMainBgActive:     #db363f;
$c_navMainLinkShadow:   #333333;
$c_navMainBorder:       #ffffff;
$c_navMainBorderBottom: #db363f;
$c_navMainShadow:       #999999;

$c_navSubBg:           #db363f;
$c_navSubText:         #ffffff;
$c_navSubLink:         #ffffff;
$c_navSubLinkHover:    #ffffff;
$c_navSubLinkBg:       #c5e89c;
$c_navSubLinkBgHover:  #219149;
$c_navSubLinkActive:   #c5e89c;
$c_navSubBorder:       #ffffff;
$c_navSubBorderBottom: #db363f;

// main content
$c_mainBg:              #ffffff;
$c_mainText:            #000000;
$c_mainLink:            #219149;
$c_mainLinkHover:       #db363f;
$c_mainH1:              #db363f;
$c_mainH1Hover:         #219149;
$c_mainH2:              #db363f;
$c_mainH2Hover:         #219149;
$c_mainH3:              #db363f;
$c_mainH3Hover:         #219149;
$c_mainH4:              #000000;
$c_mainH4Hover:         #333333;
$c_mainH5:              #000000;
$c_mainH5Hover:         #333333;
$c_mainH6:              #000000;
$c_mainH6Hover:         #333333;

// blockquote
$c_BlockquoteText:      #333333;
$c_BlockquoteLink:      #219149;
$c_BlockquoteLinkHover: #db363f;
$c_BlockquoteBorder:    #dddddd;
$c_BlockquoteBg:        #eeeeee;
$c_blockquoteBefore:    #999999;

// input
$c_inputText:           #000000;
$c_inputTextFocus:      #000000;
$c_inputBg:             #ffffff;
$c_inputBgFocus:        #ffffff;
$c_inputBorder:         #b2b8b8;
$c_inputBoxShadow:      #eeeeee;
$c_inputBorderFocus:    #999999;
$c_inputTextPlaceholder:#999999;
$c_inputSubmitText:     #ffffff;
$c_inputSubmitTextHover:#ffffff;
$c_inputSubmitBg:       #333333;
$c_inputSubmitBgHover:  #db363f;

// comments
$c_commentBg:           #ffffff;
$c_commentText:         #000000;
$c_commentLink:         #db363f;
$c_commentBorder:       #db363f;
$c_commentReplyBorder:  #dddddd;

// call-to-action
$c_ctaBg:               #28a0ff;
$c_ctaBorder:           #28a0ff;
$c_ctaTextWhite:        #ffffff;
$c_ctaTextShadow:       #333333;
$c_ctaBoxShadow:        #ffffff;

$c_ctaBgWhite:          #ffffff;
$c_ctaBorderWhite:      #ffffff;
$c_ctaBgGrey:           #b2b8b8;
$c_ctaBorderGrey:       #b2b8b8;
$c_ctaTextBlack:        #000000;

// tables
$c_tableBg:             #ffffff;
$c_tableText:           #000000;
$c_tableRowAlt:         #c5e89c;
$c_tableHeaderBg:       #219149;
$c_tableHeaderText:     #ffffff;
$c_tableLink:           #219149;
$c_tableLinkHover:      #db363f;
$c_tableBorder:         #dddddd;
$c_tableCaption:        #219149;

// code
$c_codeBg:              #333333;
$c_codeText:            #dddddd;

// mark
$c_markBg:              #ffff00;
$c_markText:            #000000;

// sidebar
$c_sidebarBg:           #ffffff;
$c_sidebarText:         #000000;
$c_sidebarLink:         #000000;
$c_sidebarLinkHover:    #219149;
$c_sidebarLinkArrow:    #219149;
$c_sidebarH3:           #219149;
$c_sidebarH3Bg:         #eeeeee;
$c_sidebarH4:           #666666;
$c_sidebarH4Bg:         #ffffff;

// footerwidgets
$c_footerWidgetsBg:       #eeeeee;
$c_footerWidgetsBorderTop:#ecf7bf;
$c_footerWidgetsText:     #000000;
$c_footerWidgetsLink:     #219149;
$c_footerWidgetsLinkHover:#000000;
$c_footerWidgetsH3:       #666666;
$c_footerWidgetsH4:       #666666;

// footer
$c_footerBg:            #e2e2e2;
$c_footerBorderTop:     #cccccc;
$c_footerText:          #b2b8b8;
$c_footerLink:          #219149;
$c_footerLinkHover:     #db363f;
$c_footerH3:            #000000;
$c_footerH4:            #000000;