// dimensions for Theme 001
$d_full:                    990px;
$d_homepageMainColumn:      680px;
$d_homepageMainMargin:      120px;
$d_headerLogo:              360px;
$d_headerAside:             630px;
$d_sidebar:                 250px;
$d_mainColumn:              $d_homepageMainColumn;
$d_mainContent:             560px;
$d_columnOne:               310px;
$d_columnTwo:               310px;
$d_ThreeEqualColumns:       290px;
$d_FourEqualColumns:        200px;
$d_navSubWidth:             200px;