$nav-off-canvas-width: 70%;

.close-btn {
	color: #FF0000;
	position: absolute;
	top: pem(-60);
	left: pem(30);
}

#menu-primary-navigation {
		background-color: #000000;
    position: absolute;
    top: 0;
    padding-top: pem(84);

    :not(:target) {
        z-index: 1;
    }

    &:target {
        .close-btn {
            display: block;
        }
    }

    .block {
        position: relative;
        padding: 0;
    }

    li {
				display: block;
        position: relative;
        border-top: 1px solid rgba(255,255,255, 0.1);

				li {
					margin-left: pem(30);
					display: none;
				}

        &:last-child {
            border-bottom: 1px solid rgba(255,255,255, 0.1);
        }

        &.is-active:after {
            z-index: 50;
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: pem(-0.5);
            margin-top: pem(-10);
            border-top: pem(10) transparent solid;
            border-bottom: pem(10) transparent solid;
            border-right: pem(10) #fff solid;
        }

        a {
            padding: pem(12, 14) pem(30, 14);
        }

				a:after {
					content: '';
				}
    }
}

.js-ready {

	.close-btn {
		display: block;
		@include opacity(0.7);

		&:focus,
		&:hover {
			@include opacity(1);
		}
	}

		#menu-primary-navigation {
				height: 100%;
				width: $nav-off-canvas-width;
				background: $background-color;
				@include box-shadow(inset pem(-24) 0 pem(24) pem(-12) rgba(0,0,0, 0.25));

				.block {
						background: transparent;
				}
		}

		#menu-primary-navigation {
				left: (0 - $nav-off-canvas-width);
		}

		#container {
				left: 0;
		}
}

.js-nav {

		#container {
				left: $nav-off-canvas-width;
		}
}

.csstransforms3d .csstransitions .js-ready {

		#menu-primary-navigation {
				left: 0;
				@include transform(translate3d(-100%,0,0));
				@include backface-visibility(hidden);

			.block {
				@include opacity(0.7);
				@include transition(opacity 300ms 100ms ease, transform 500ms ease);
				@include transform(translate3d($nav-off-canvas-width,0,0) scale3d(0.9,0.9,0.9));
				@include transform-origin(50%, 0%);
			}
		}

		#container {
				left: 0 !important;
				@include transform(translate3d(0,0,0));
				@include transition(transform 500ms ease);
				@include backface-visibility(hidden);
		}
}

.csstransforms3d.csstransitions.js-nav {

		#container {
				@include transform(translate3d($nav-off-canvas-width,0,0) scale3d(1,1,1));
		}

	#menu-primary-navigation {

		.block {
			@include opacity(1);
			@include transform(translate3d(0,0,0));
		}
	}
}

